# Access control
Order allow,deny
Allow from all

# Deny access to .htaccess
<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>

# Deny access to .git* and .svn*
RedirectMatch 404 /\\.svn(/.*|$)
RedirectMatch 404 /\\.git(.*|/.*|$)

# Limit file uploads to 10Mb
LimitRequestBody 10240000

# Prevent directory browsing
Options -Indexes

# Disable the server signature
ServerSignature Off

# Error pages
ErrorDocument 400 /page-not-found/
ErrorDocument 401 /page-not-found/
ErrorDocument 403 /page-not-found/
ErrorDocument 404 /page-not-found/
