// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Shrink (non-mobile) font-size a bit. The default of 1.15em seemed oversized to me.
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.05em;
  }
}

aside.sidebar {
  #followme {
    img {
      @include shadow-box($border: none, $shadow: none, $border-radius: none);
      padding: .12em;
    }
  }
  .tag-cloud {
    span {
      a {
        padding-right: .4em;
      }
    }
    .rank-1 { font-size: 120%; }
    .rank-2 { font-size: 110%; }
    .rank-3 { font-size: 100%; }
    .rank-4 { font-size: 90%; }
    .rank-5 { font-size: 80%; }
  }
}

#content article .entry-content {
  // Add some breathing room after list items
  ul li { margin-bottom: .5em; }
  ol li { margin-bottom: .5em; }
}
