// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-size: 0.85em;
  pre { font-size: 11px; }
  @media only screen and (min-width: 480px) {
    font-size: 0.92em;
    pre { font-size: 12px; }
  }
  @media only screen and (min-width: 992px) {
    font-size: 1em;
    pre { font-size: 13px; }
  }

  // Add drop-shadow to title
  header hgroup {
    h1 { text-shadow: #111 2px 2px 4px; }
    h2 { text-shadow: #222 2px 2px 4px; }
  }

  #content article {
    line-height: 1.7em;

    // Add some breathing room after list items
    ul li { margin-bottom: .5em; }
    ol li { margin-bottom: .5em; }

    // Make blockquotes less space-y
    blockquote {
      font-size: inherit;
      line-height: inherit;
      padding: 1em 1em 1em 1.5em;
      margin-right: 2em;
      background: rgba(0, 0, 0, 0.04);
      color: #444444;
      p {
        margin-bottom: 1.2em;
      }
    }
    blockquote p:nth-last-child(1) {
      margin-bottom: 0 !important;
    }
  }
}

aside.sidebar {
  #followme {
    img {
      @include shadow-box($border: none, $shadow: none, $border-radius: none);
      padding: .12em;
    }
  }
}

#blog-archives .entry-title a {
  display: inline;
}

body#page {
  #content > div { &, > article { padding-top: 0; } }
}
